@keyframes fadeblack{
  0% {
    background-color: white
  }
  100%{
    background-color: black;
  }
}
@keyframes colors {

  0% {
    stroke: green;
  }
  25% {
    stroke: yellow;
  }
  50% {
    stroke: blue;
  }
  75% {
    stroke: red;
  }
  100% {
    stroke: purple;
  }
}
@keyframes colorsS {

  0% {
    stroke: #5710b6;
  }
  50% {
    stroke: #4759db;
  }
  100% {
    stroke: #8afffe;
  }

}
@keyframes dash {
0% {
opacity: 1;
stroke-dasharray: 2000;
stroke-dashoffset: 2000;
}
50% {
opacity: 1;
stroke-dasharray: 1000;
stroke-dashoffset: 5;
}
100% {
opacity: 1;
stroke-dasharray: 500;
stroke-dashoffset: 0;
}
}

@keyframes dash2 {
0% {
opacity: 1;
stroke-dasharray: 10;
stroke-dashoffset: 100;
}
50% {
opacity: 0;
stroke-dasharray: 500;
stroke-dashoffset: 5;
}
100% {
opacity: 0;
display: none;
stroke-dasharray: 500;
stroke-dashoffset: 0;
}
}

@keyframes dashsouth {
0% {
opacity: 1;
stroke-dasharray: 10;
stroke-dashoffset: 100;
}

100% {
opacity: 1;
stroke-dasharray: 10;
stroke-dashoffset: 60;
}
}
@keyframes dashnorth {
  0% {
  opacity: 1;
  stroke-dasharray: 10;
  stroke-dashoffset: 60;
  }
100% {
opacity: 1;
stroke-dasharray: 10;
stroke-dashoffset: 100;
}
}
@keyframes blink {
  0% {
  fill:red
  }
  100% {
    fill:black;
  }
}

@charset "UTF-8";
.bullet{
  font-family: Helvetica, sans-serif;
  font-weight:500;
  text-align: center;
  display:inline-block;
  width:18px;
  height:18px;
  border-radius:500px;
  padding:3px;
}
.b8th{
  background-color: rgb(40,80, 173);
  color:white;
}
.b7th{
  background-color: rgb(238,53, 46);
  color:white;
}
.b6th{
  background-color: rgb(255,99, 25);
  color:white;
}
.bbwy{
  background-color: rgb(252,204,10);
  color:black;
}
.bcan{
  background-color: rgb(128,128, 128);
  color:white;
}
.blex{
  background-color: rgb(0,147, 60);
  color:white;
}
.bflu{
  background-color: rgb(185,51, 173);
  color:white;
}
.bshu{
  background-color: rgb(190,190, 190);
  color:white;
}

.containcontrols{
  position: fixed;
  display: flex;
  flex-direction: row;
  top:0;
  left:10;
  width: 50vw;
}
.containbuttons{
  position: fixed;
  display: flex;
  flex-direction: row;
  bottom:10px;
  left:10;
  width: 50vw;
}
.button{
  height:80px;
  width:80px;
  font-size: 13px;
  border-radius: 100%;
  background-color: #00933C;
  color:white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.button:hover{
  cursor: pointer;
  opacity:.5;

}
.route{
  background-color: green
}
.traffic{
  height:80px;
  width:80px;
  font-size: 13px;
  border-radius: 100%;
  background-color: #EE352E;
  color:white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.traffic:hover{
  cursor: pointer;
  opacity:.5;

}

.clear{
  height: 80px;
    width:80px;
    background-color: black;
    color:white;
    font-size: 13px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;


}
.clear:hover{
  cursor: pointer;
  opacity:.5;
}
.controls {
  font-size: calc(13px + 1vw);
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 52px;
  width: 300px;
  outline: none;
  padding-left: 20px;


}

#source {
  background-color: #fff;
  font-family: helvetica, sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#source:focus {
  border-color: #4d90fe;
}
#dest {
  background-color: #fff;
  font-family: helvetica, sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#dest:focus {
  border-color: #4d90fe;
}


#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}


input{
  text-transform:uppercase;
}

body{
  display: flex;
  justify-content: flex-end;
  font-family: helvetica, sans-serif;
  transition: 20s;
  border:0;
  margin: 0;
}
select{
  background-color: transparent;
  font-family: helvetica, sans-serif;
}
}
svg{
}
.north{
  opacity:1;
  animation: dashnorth 5s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;


}
.south{
  opacity:0;
  animation: dashsouth 1s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;

}
.containdirections{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.directions{
  position: absolute;
  left:0;
  opacity: 1;
  color: black;
  width: 500px;
  height: 300px;
}

.animate {
opacity: 1;
/*animation: dash2 5s cubic-bezier(0.670, 0.005, 0.200, 1.000);*/
animation-fill-mode: forwards;
width: auto;
height: 100vh;
}
.animate2 {
opacity: 0;
animation: dash 2s cubic-bezier(0.5, 0.5, 0.5, 0.5);
animation-fill-mode: forwards;
height: 70vh;
}
.splash{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: white;
  opacity: 0;
  transition: 2s;
  animation: dash2 3s cubic-bezier(0.670, 0.005, 0.200, 1.000);
}



.red{
  animation: blink 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}


@media screen and (max-width: 820px) {
  .animate{
    width: 100vw;
  height: auto;
}
.containdirections{
  top:150vh;
}

body{
  background-color: black;
}

.containbuttons{

  width: 100vw;
  left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.containcontrols{

  width: 100vw;
}
/*.tesla{
  stroke:#666
}
.tesla:hover{
  stroke:#666;
}
.watson{
  animation: colors 3s cubic-bezier(0.670, 0.005, 0.200, 1.000);
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  stroke:purple;
}
.watson:hover{
  animation: none;
  stroke:purple;
}
.sound{
  animation: colorsS 1.75s cubic-bezier(0.670, 0.005, 0.200, 1.000);
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  stroke:#8afffe;
}
.sound:hover{
  animation: none;
  stroke:#8afffe;
}
.vimeo{
  stroke:#44c536
}
.vimeo:hover{
  stroke:#44c536;
}
.mock{
  stroke:#e9e9de
}
.mock:hover{
  stroke:#e9e9de;
}*/

}
